body,div,button,form,p{
    margin: 0px;
    padding: 0px;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.form_style{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.form_style p{
    width: 5em;
    height: 2em;
    font-size: 1.2em;
    margin-right: 1em;
    text-align: end;
}
.form_style input{
    font-size: 1.2em;
    width: 15em;
    height: 2em;
    margin-right: 1em;
    border-radius: 3px;
    outline: none;
    border: 1px solid grey;
    text-indent: 1em;
}
.form_style .input_div{
    display: flex;
    flex-direction: column;
}

.form_style .input_div p{
    font-size: 1.2em;
    flex: 1 0 auto;
    width: 15em;
    height: 2em;
    text-align: start;
}

.form_style button{
    font-size: 1em;
    width: 4em;
    height: 2.5em;
    border-radius: 3px;
    border: 0px black solid;
    background-color: #00b3ee;
    color: white;
}

.mybutton{
    font-size: 1em;
    width: 4em;
    height: 2.5em;
    margin-right: 1em;
    border-radius: 3px;
    border: 0px black solid;
    align-self: flex-end;
    background-color: #00b3ee;
    color: white;
}